{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Create New upload</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="title" name="title" class="input-xlarge"
            placeholder="Please give title to upload item" value="{{ upload.title }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <textarea name="text" rows=10 class="input-xlarge" placeholder="describle the upload item" required>{{ upload.text }}</textarea>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type=checkbox name=done.{{ upload.id }}{{ " checked" if upload.done }}>
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Update upload</button>
          <a href="{{ url_for('index') }}">Back to list</a>
        </div>
    </div>
  </form>
{% endblock %}
